* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #457B9D;
    margin: 0;
  }
  .images{
    display: block;
     margin-left: auto;
     margin-right: auto; margin-top: 0px;
     width: 15%;
 }




.card {
    margin-left: 100px;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 50px;
    margin-left:130px;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #1D3557;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .button:hover, a:hover {
    opacity: 0.7;
  }
  .navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
    
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  /* end navbar style */
  /* drop dawn */
    /* Navbar container */
    .navbar {
      overflow: hidden;
      background-color: #1D3557;
      font-family: Arial;
    }
    
    /* Links inside the navbar */
    .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* The dropdown container */
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    /* Dropdown button */
    .dropdown .dropbtn {
      font-size: 16px; 
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
    }
    
    /* Add a red background color to navbar links on hover */
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: #ddd;
      color: black;
    }
    /* drop dawm */
    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: right;
    }
    
    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .block {
      display: block;
      width: 50%;
      border: none;
      background-color: #1D3557;
      padding: 14px 28px;
      font-size: 16px;
      text-align: center;
      margin-left: 400px;
      text-decoration: none;
    }
    .block2{
      float: right;
      display: block;
      width: 30%;
      border: none;
      background-color: #1D3557;
      padding: 14px 28px;
      font-size: 16px;
      text-align: center;
      margin-left: 400px;
      text-decoration: none;
    }
    #searchbar{ 
      margin-left: 15%; 
      padding:15px; 
      border-radius: 10px; 
    } 
    
  .input-group{
    margin-right: 20px;
    float: right;
    margin: 13px;
  }


  /* Create two equal columns that floats next to each other */
  .column {
    margin-top: 50px;
    float: left;
    width: 50%;
    padding-top: 30px;
    padding-left: 70px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  h4{
    color: #ddd;
    text-decoration: none;
    padding-left: 10px;
  }
  #h2{
    color: #ddd;
  }
  .social{
    padding: 10px;
  }